<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>NOVEDADES</span>
      <span class="custom-spacer"></span>
      <mat-icon class = "custom-icon">account_box</mat-icon>
      <!-- <button mat-button (click)="irFormulario()"><mat-icon class="custom-icon" >add_box</mat-icon></button> -->
      <!-- <button mat-button (click)="irReportes()" ><mat-icon class="custom-icon" >format_list_numbered</mat-icon></button> -->
      <!-- <mat-icon class="custom-icon ">power_off</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
