<div style="text-align:center" *ngIf="!logeado">
    <mat-toolbar style="text-align:center;">
        <span> PLUSLOGISTICS OREDENES DE TRABAJO y PROFORMAS </span>
      </mat-toolbar>
      <mat-card class="my-card">
         <mat-card-content>
               <mat-form-field class="full-width">
                  <mat-label>Usuario</mat-label>
                  <input  matInput  placeholder="Usuario" [(ngModel)]="usuario">
               </mat-form-field>
         </mat-card-content>
         <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Clave</mat-label>
                <input type="password"  matInput  placeholder="Clave"  [(ngModel)]="password">
             </mat-form-field>
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button (click)="ingresar()" color="primary">INGRESAR</button>
         </mat-card-actions>
      </mat-card>
</div>

<div style="text-align:center" *ngIf="logeado">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>NOVEDADES</span>
      <span class="custom-spacer"></span>
      <button mat-button (click)="irNovedades()">Novedades<mat-icon class="custom-icon" >home</mat-icon></button>
      <button mat-button (click)="irOtAbiertas()" >Cerrar OT<mat-icon class="custom-icon" >format_list_numbered</mat-icon></button>
      <button mat-button (click)="irOtCerradas()" >Generar Prof.<mat-icon class="custom-icon" >format_list_numbered</mat-icon></button>
      <button mat-button (click)="salir()" >Salir<mat-icon class="custom-icon" >close</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
