<!-- The content below is only a placeholder and can be replaced. -->
<div mat-dialog-content>
  <mat-card>
    <mat-card-subtitle>
      <mat-grid-list cols="4" rowHeight="5:1" [style.border]="'2px solid #ddd'">
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input
              matInput disabled
              placeholder="Núm de orden"
              [(ngModel)]="data.numero_orden"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px" >
            <input disabled matInput placeholder="Tipo comercial"  [(ngModel)]="data.codigo_tipo_comercial" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Matrícula"  [(ngModel)]="data.matricula" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Matriculación"  [(ngModel)]="data.matriculacion"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Número de bastidor " [(ngModel)]="data.numero_bastidor"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="LDM"  [(ngModel)]="data.ldm"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Kilometraje"  [(ngModel)]="data.kilometraje"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Asesor del Servicio"  [(ngModel)]="data.asesor_servicio"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Tipo comercial"  [(ngModel)]="data.tipo_comercial"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="LDC"  [(ngModel)]="data.ldc"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Año de modelos"  [(ngModel)]="data.anio_modelo"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field style="font-size:10px">
            <input disabled matInput placeholder="Lugar"  [(ngModel)]="data.lugar"/>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-card>
        <mat-card-subtitle style="font-size:9px">
          El almacenamiento en el vehículo / Showroom
        </mat-card-subtitle>
        <mat-card-content>
          <mat-grid-list cols="9" rowHeight="4:1">
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Además para vehículos usados: verificar el estado de carga de la
              batería (ver procedimientos en "Por lo menos cada 40 días").
              Documentar el día de entrega como referencia para todas las
              medidas de condición de carga.
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple1">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px"  value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
          </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada1" >Subsanada</mat-checkbox>
            </mat-grid-tile>

            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Etiqueta de eficiencia energética: verificar la existencia y es
              consistente con el vehículo.
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple2">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada2">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Tablero de instrumentos, los asientos y las puertas-objetos:
              Retire el papel y otros objetos que no se utilizan exclusivamente
              para la protección de superficies (excepto los vehículos 0 km).
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple3">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada3">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Alzar los parasoles.
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple4">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada4">Subsanada</mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-subtitle style="font-size:10px">
          Como mínimo semanalmente
        </mat-card-subtitle>
        <mat-card-content>
          <mat-grid-list cols="9" rowHeight="4:1">
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Limpiar/lavar el vehículo alcanzado por materiales agresivos (por ejemplo, excremento de aves, polvo industrial, polen de plantas, etc.) .
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple5">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada5">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Vehículos con aire acondicionado: abrir todos los difusores de aire/ventilación en el panel de instrumentos y colocar el ventilador al máximo .
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple6">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada6">Subsanada</mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-subtitle style="font-size:9px">
          Por lo menos cada 40 días
        </mat-card-subtitle>
        <mat-card-content>
          <mat-grid-list cols="9" rowHeight="2:1">
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'"  [colspan]="6">
              POSIBILIDAD 1: Verifique el estado de carga de la batería. Con un valor <"80" (que corresponde al 80% del estado de carga) o una indicación de tensión <"12,5" (que corresponde a la tensión de reposo de 12,5V): cargar la batería inmediatamente. Con un valor <"10" o una indicación de tensión <"11,6": sustituir la batería. En el caso de una batería totalmente descargada la sustitución sólo se debe hacer antes de entregar al cliente. 
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple7">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada7">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'"  [colspan]="6">
              POSIBILIDAD 2: Medir tensión de reposo de la batería: 2 horas después que el último "consumidor" haya estado activo y 12 horas después de la última operación del motor. Con una tensión de reposo medida entre 11,6 V y 12,5 V: cargar la batería inmediatamente. Con una tensión de reposo inferior a 11,6 V: sustituir la batería. En el caso de una batería totalmente descargada la sustitución sólo se debe hacer antes de entregar al cliente.
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple8">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada8">Subsanada</mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-subtitle style="font-size:9px">
          Por lo menos cada tres meses
        </mat-card-subtitle>
        <mat-card-content>
          <mat-grid-list cols="9" rowHeight="4:1">
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'"  [colspan]="6">
              Los frenos de disco: compruebe si hay corrosión, si mueven y el freno necesario mientras el vehículo para discos de limpieza 
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple9">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada9">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'"  [colspan]="6">
              Neumáticos: presión correcta para la carga y la rueda de repuesto con una carga máxima 
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple10">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada10">Subsanada</mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-subtitle style="font-size:9px">
          O cuidado programa para los vehículos en sala de exposición showroom
        </mat-card-subtitle>
        <mat-card-content>
          <mat-grid-list cols="9" rowHeight="4:1">
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Verificación del estado de carga de la batería, POSIBILIDAD 1: la conexión permanente de un cargador liberado para el funcionamiento de no-break con una corriente de carga de 30 A o superior. 
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple11">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada11">Subsanada</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:10px" [style.border]="'2px solid #ddd'" [colspan]="6">
              Verificación del estado de carga de la batería, POSIBILIDAD 2: realizar la prueba de batería cada 2 días (ver procedimientos en "Por lo menos cada 40 días"). 
            </mat-grid-tile>
            <mat-radio-group [(ngModel)]="data.cumple12">
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='true'>Ok Realizado</mat-radio-button>
            </mat-grid-tile>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'">
              <mat-radio-button disabled style="font-size:9px" value='false'>No Ok</mat-radio-button>
            </mat-grid-tile>
            </mat-radio-group>
            <mat-grid-tile style="font-size:9px" [style.border]="'2px solid #ddd'" >
              <mat-checkbox disabled style="font-size:9px" [checked]="data.subsanada12">Subsanada</mat-checkbox>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-footer style="font-size:10px">
      OK/realizado = OK  <mat-divider [vertical]="true"></mat-divider>   No OK = No es correcto, observe las notas de reparación <mat-divider [vertical]="true"></mat-divider>   Subsanada = Se ha subsanado la avería 
    </mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>
 
</div>
