<div mat-dialog-content id='dialog-print' class=container4>
  <mat-card>
    <mat-card-title >
      <table>
        <tr>
          <td >
            PROF. <strong> {{parametros.cod}} </strong>
          </td>
          <td >
            <qrcode [qrdata]="parametros.cod" [size]="50" [level]="'M'"></qrcode>
          </td>
          <td style="text-align: right">
              Fecha:{{ fecha }}
          </td>
        </tr>
      </table>
    </mat-card-title>
    <br>
    <mat-card-subtitle style="text-align:center">
      <mat-divider></mat-divider>
      <br>
      Chasis: {{parametros.chasis}} -
      Motor: {{parametros.motor}} -
      Marca: {{parametros.marca}} -
      Modelo: {{parametros.modelo}} -
      Color: {{parametros.color}} -
      Concesionario: {{parametros.concesionario}}
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng2-smart-table [settings]="settings" [source]="datos"></ng2-smart-table>
 
    </mat-card-content>
    <mat-divider></mat-divider>
    <!-- <mat-card-content>
      <mat-form-field style="width:400px" class="example-full-width">
        <input type="text" placeholder="Tarea" matInput (keyup)="filtrar($event)" [(ngModel)]="vtarea"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of ftareas" [value]="option.tarea">
            {{option.tarea}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button (click)="add()">Añadir</button>
    </mat-card-content> -->
    <mat-card-content style="text-align:center">
      <ng2-smart-table style="text-align:center"  [settings]="settingstareas" [source]="tareasseleccionadas"></ng2-smart-table>
      <mat-divider></mat-divider>
      <div style="text-align: center">
          Subtotal : {{ parametros.total }} 
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content>
      <mat-divider></mat-divider>
      <table>
        <tr *ngFor="let item of arrfotos; index as i">
          <td>
            <img src="{{ item.path }}" height="50" alt="" srcset="">
          </td>
          <td>
            <!-- <button mat-flat-button color="accent" (click)="eliminaimagen(i)">Eliminar</button> -->
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-footer style="text-align:center">

    </mat-card-footer>
  </mat-card>
</div>
<button mat-stroked-button color="warn" (click)="cerrar()">Cancelar</button>
<button mat-stroked-button color="secondary" (click)="guardar()">Guarda/Imprimir</button>